[Unit]
Description=Update bootloader on boot
Documentation=https://github.com/coreos/bootupd

[Service]
Type=oneshot
ExecStart=/usr/bin/bootupctl update
RemainAfterExit=yes
PrivateNetwork=yes
ProtectHome=yes
MountFlags=slave
# inhibit locks are ignored by reboot/poweroff (need to use systemctl)
# so just delay being killed as much as possible
KillSignal=SIGCONT

[Install]
WantedBy=multi-user.target
